.modal-adauga-ruta .mdr-body {
    padding: 10px 20px 0 20px;
}

.modal-adauga-ruta .mdr-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: #F7F7F7;
    padding: 5px;
    border-radius: 5px;
}

.modal-adauga-ruta .mdr-form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-adauga-ruta .mdr-ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.modal-adauga-ruta .mdr-li {
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-bottom: 5px;
}

.modal-adauga-ruta .mdr-ora-zi {
    display: flex;
    gap: 5px;
}